.App {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    font-size: 15px;
  }
  .search-header {
    display: flex;
  }
  .search-text {
    margin-right: 10px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  #search-box {
    height: 25px;
  }
  #search-box[placeholder] {
    line-height: 15px;
    font-size: 15px;
  }
  #item-list {
    min-height: 20px;
  }
  
